<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="WSGestionPedidosSoap" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:65167/WSGestionPedidos.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WSGestionPedidosSoap"
                        contract="ServiceReferenceGP.WSGestionPedidosSoap" name="WSGestionPedidosSoap" />
        </client>
    </system.serviceModel>
</configuration>